/* styles/globals.css */

/* Tailwind base imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter, sans-serif);
  font-optical-sizing: auto;
}
